extends ./layout/index

block contenido
    main.container.mt-5     
        .row 
            .col-md-5 
                img(src="img/nosotros.jpg", alt="imagen sobre nosotros" class="img-fluid")
            .col-md-7
                h1= pagina
                blockquote  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin efficitur magna a tellus laoreet, quis tempus nibh volutpat. Maecenas sit amet nisi nulla. Sed ullamcorper libero et quam lacinia euismod. Fusce lorem ipsum, scelerisque eget sagittis vel, luctus vel mauris. Vestibulum lobortis, justo sit amet eleifend facilisis, tellus odio vulputate tortor, nec feugiat felis augue a justo. Maecenas viverra consectetur nulla rhoncus dictum. 
                p Vestibulum in volutpat tortor. Praesent placerat sagittis placerat. Cras dignissim, neque in ultricies gravida, orci orci tristique dui, a rutrum enim sem sagittis lacus. Aenean risus quam, molestie at turpis quis, accumsan faucibus elit. 
                p Pellentesque condimentum consequat lorem quis malesuada. Aenean posuere imperdiet libero, a laoreet odio accumsan nec. Donec imperdiet consequat risus non accumsan. Mauris tortor urna, ultricies id tortor et, sagittis fringilla lacus. Duis quis odio feugiat, finibus nibh quis, finibus arcu. In hac habitasse platea dictumst. Vestibulum dapibus lacus quis pellentesque vestibulum. Nulla facilisi. Duis molestie aliquam ornare. Quisque condimentum, quam ac suscipit elementum, ante arcu gravida justo, quis pharetra odio dui et enim. Nunc id odio eget ipsum ultricies convallis. Duis viverra quam sed purus fermentum porttitor.
    .listado-iconos 
        .container.mt-5.py-5.text-center 
            .row 
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="icono seguridad" class="img-fluid mb-4")
                    h2.mb-4 Seguridad 
                    p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laborum totam aperiam aliquam! Quo, ipsum alias
                
                .col-md-4
                    img(src="img/icono_destinos.svg", alt="icono destinos" class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos
                    p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laborum totam aperiam aliquam! Quo, ipsum alias

                .col-md-4
                    img(src="img/icono_precios.svg", alt="icono precios" class="img-fluid mb-4")
                    h2.mb-4 Los Mejores Precios
                    p Lorem ipsum dolor sit amet consectetur, adipisicing elit. 


